@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Playwrite+RO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
*{
    padding: 0%;
    margin: 0;
    border-radius: 5px;
}
img{
    border-radius: 10px;
}
.cont{
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.headimg{
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
    mask-image: linear-gradient(to top, transparent 0%, black 100%);
    width:100%;
    text-align: center;
    filter: blur(2px);
    scale: 1.3;
    animation: headimg 12s infinite;
}
@keyframes headimg {
    0%{
        translate: 0 0;
    }
    50%{
        translate: 20px 0px;
    }
    100%{
        translate: 0 0;
    }
}
.headimg>img{
    max-width: 100%;
    height: auto;
    scale: 1.5;
}
.text{
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 10%;
    background: none;
}
.text-up>h1{
    font-family: "Cal Sans", sans-serif;
    text-transform: uppercase;
    padding: 25px 0px 5px 5px;
    width: 95%;
    font-size: 20px;
    font-weight: 900;
}
.text-mid>h4{
    font-weight: 600;
    padding: 0px 0px 5px 5px;
    width: 85%;
    color: rgb(0, 0, 0,0.7);
    font-size: 13px;
    user-select: none;
}
.text-down{
    width: fit-content;
}
.text-down>a{
    text-decoration: none;
}
.text-down>a>h4{
    width: fit-content;
    color: rgb(0, 0, 0,0.7);
    font-size: 11px;
    border-radius: 25px;
    padding: 3px 10px;
    margin: 5px;
    background: green;
    transition: 0.4s;
}
.text-down>a>h4:active{
    cursor: pointer;
    background: rgba(169, 201, 169, 0.7);
    border: none;
}
#icon{
    scale: 1.5;
    position: absolute;
    top: -50px;
    right: 15px;
}
.menu{
    width:25px;
    height: 25px;
    position: absolute;
    top: -65px;
    right: 10px;
    z-index: 5;
    opacity: 0;
}
.list{
    position: absolute;
    top: -40px;
    right:0px;
    display: none;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background: rgb(0, 0, 0,0.9);
    gap: 10px;
    border-radius: 5px;
    padding: 15px 0px;
}
.list>a{
    text-decoration: none;
    font-size: 18px;
    padding:5px 15px;
    transition: 0.3s;
    color: rgb(255, 255, 255);
}
.list>a:hover{
    background: rgb(255, 255, 255,0.3);
}
.list>a:active{
    background: rgb(124, 124, 124);
    color: bisque;
}
.list>a>h5{
    font-weight: 500;
    text-transform: capitalize;
}
.menu:checked~.list{
    display: flex;
}
.mid{
    margin-top: 200px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mid>img{
    width:125px;
    padding: 5px;
}
.info{
    height:fit-content;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px;
    padding: 10px;
    overflow: scroll;
}
.info>h2{
    color: white;
    font-size:30px;
    padding-bottom: 5px;
    background: red;
}
.info>p{
    padding: 15px;
    color: rgb(0, 128, 0);
    text-align: center;
    font-family: "Alexandria", sans-serif;
}
.info>.r{
    color: rgb(0, 128, 0,0.5);
    font-size: 10px;
}

.foter{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotercont{
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.2);;
}
.foter>.fotercont>.imgfoter>img{
    width: 85px;
    padding: 10px;
}
.plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.plan>p{
    width: fit-content;
    background:rgb(0, 128, 0);
    color: white;
    font-size: 10px;
    border-radius: 15px;
    padding:0px 15px;
    transition: 0.5s;
}
.plan>p:hover{
    background:rgb(0, 128, 0,0.3);
    cursor: pointer;
    scale: 1.06;
}
.textfoter{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.textfoter>h3{
    font-size: 15px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 15px 0px;
}
input:hover{
    cursor: pointer;
}