*{
  border-radius: 15px;
    font-family: "Alexandria", sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, sans-serif;
    background: rgb(34, 36, 34);
    margin: 0;
    padding: 0;
    height: 112vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;

}
.section {
    background:rgb(0, 128, 0,0.1);
    border: 1px solid rgb(49, 46, 46,0.4);
    box-shadow: 8px 8px 2px black;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin:25px 0px;
    padding: 15px 15px;
    border-radius: 25px;

  }
  .section h2 {
    color: #ffffff;
    font-size: 35px;
    padding-top: 30px;
  }
  .section p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 26px;
    padding-bottom: 125px;
  }
  .images {
    border: 2px solid black;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: rgb(34, 36, 34);
    border-radius: 25px;
    padding: 25px 0px;
  }
  .pro{
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:fit-content;
    animation: pro 33s infinite;
    
  }
  @keyframes pro {
    0%{
      translate: -650px 0px;
    }
    50%{
      translate: 85% 0px;
    }
    75%{
      translate: 86% 0px;
    }
    100%{
      translate: -650px 0;
    }
  }
.s{
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:fit-content;
  animation: s 38s infinite;
}
  @keyframes s {
    0%{
      translate: -1000px 0;
    }
    50%{
      translate: 975px 0px;
    }
    75%{
      translate: 980px 0px;
    }
    100%{
      translate: -1000px 0;
    }
  }
#beg2,#beg1{
    width: 210px;
    height: auto;
  }
#beg3{
  width: 235px;
    height: auto;
}
  .images>.pro>img {
    padding: 10px;
    width: 240px;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
  }
  .back{
    border: 1px solid rgb(255, 255, 255,0.4);
    width: 75px;
    border-radius: 15px;
    text-align: center;
    margin-top: 50px;
}
.back>a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.back>a>h4{
    font-weight: 100;
}
.back>a>h4:active{
    background: rgb(0, 128, 0,0.3);
}